.main {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 114rem;
  width: 100%;
  
  &-first {
    max-width: 36.2rem;
    
    &--text {
      
      &-logo {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 4.8rem;
        line-height: 5.8rem;
        background: linear-gradient(
                      92deg,
                      #FCB045 27.14%,
                      #FF3F78 121.36%
                    ),
                    #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  &-second {
    width: 30rem;
    
    &--title {
      margin-bottom: 4rem;
    }

    &--cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 6.1rem;
    }
  }
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #E4E5EA;
  width: 27.5rem;
  margin-top: 3rem;

  &-big {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #E4E5EA;
  }

  &--left {
  
    &-big {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      color: #E4E5EA;
      margin-top: 2.5rem;
    }
  }
  &-color {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
  }
}

.card {
  color:#E4E5EA;
  display: flex;
  flex-direction: column;
  width: 13.5rem;
  margin-bottom: 3rem;
  
  &--title {
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    /* light text */
    
    color: #E4E5EA;
    margin-bottom: 0.6rem;
  }

  &--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    
    color: #E4E5EA;
  }

}

.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  /* light text */
  
  color: #E4E5EA;
  background: #4077F3;
  padding: 2.1rem 3.5rem;
}

.line {
  display: none;
}