// base
@import 'base/variables';
@import 'base/fonts';

// components
@import 'components/background/backGround';
@import 'components/sections/header';
@import 'components/sections/main';
@import 'components/sections/footer';

// header
@import 'components/sections/header/logo';
@import 'components/sections/header/nav';
@import 'components/sections/header/phone';
@import 'components/sections/header/messengers';

// media

@import 'components/sections/headerMedia';

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

#root{
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: #1E1E1E;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  
}