.nav {
  max-width: 50.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--item {
    display:inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
  }
}